h2{
    color:rgb(110, 230, 229); 
}
p{
    font-size: x-large;
}
div span{
    color:aqua
}
#coralh2{
    color:coral
}
.greenclass{
    color:rgb(124, 236, 11)
}
img{
    width: 250px;
}

body{
    background-color: rgb(33, 115, 115);
    text-align: center;
}

.aligntext{
    text-align: left;
}

ul{
    list-style-position: inside;
    text-align:center
}

nav{
    text-align: left;
}

font{
    font-family: 'Times New Roman', Times, serif;
}


